.btn {
    background-color: #fffadf;
    border-radius: 20px;
    font-weight: bold;
    color: #561d25;
}

.btn:hover {
    background-color: #561d25;
    color: #fffadf;
}

#save {
    background-color: #f26201;
    color: #fffadf;
}

#save:hover {
    background-color: #561d25;
    color: #fffadf;
}

.questionToUser {
    font-size: 1.5rem;
}

footer {
    background-color: #f26201;
}


#themeColor {
    background-color: #fffadf;
    border-radius: 50px;
    width: 80px;
}

#back {
    background-color: #f26201;
    color: #fffadf;
}

#oops {
    font-size: 3rem;
    color: #f26201;
}

#error404 {
    background-color: #171717;
}